@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::reset{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow: hidden;
}

#weather{
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  filter: drop-shadow(10px 5px 8px gray);
}

#weather__icon{
  width: 4.5rem;
}

.vertical-separator{
  display: inline-block;
  width: 3px;
  height: 3.5rem;
  background-color: black;
}

#weather__temperature{
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}